.idea
.vscode/*
.ipynb_checkpoints
venv
videos/*
!videos/.gitkeep
training_frames/*
!training_frames/.gitkeep
training_videos/*
!training_videos/.gitkeep
yolo_ds/
yolo_v8
yolo_training/runs/
utils/__pycache__
utils/runs
label_studio/*
train_samples/*
runs/*
runs/.gitkeep
utils/__pycache__/*
labeled_chess_boards/*
!labeled_chess_boards/.gitkeep
rapid_dev/ipynb_checkpoints
rapid_dev/runs
rapid_dev/temp.pk
datasets/*
datasets/.gitkeep
config/*
!config/dataset_config/.gitkeep
!config/.gitkeep
